<%= render 'layouts/header' %>
<div class='container'>
	<div id="image" class='section'>
		<div>
			<!--<p id='description1'>The dried <span>superfruit</span> that transforms into a<br> tasty <span>beverage</span></p>-->
			<%= link_to '<button type="button" class="btn btn-default btn-lg order1">Order Me!</button>'.html_safe, 'https://squareup.com/market/sant/gram-pouch' %>
		</div>
	</div>
	<div id='navigate' class='section'>
		<p class='santis'> Sant is....</p>
		<img class='fruit is' src="https://dl.dropboxusercontent.com/s/o7qn8tjhu0h82rq/sant-fruit-illustration.png?dl=0">
		<p class='superfruit sumtext is'> a dried superfruit </p>
		<img class='instruction win' src='https://dl.dropboxusercontent.com/s/dxzrcme27p4bkbx/water.png?dl=0'>
		<p class='water sumtext win'> that when combined with water </p>
		<p class='makes sumtext'>creates a beverage that is </P>
		<div id='healthy' class='control'>
			<img class='circle navimg' src='https://dl.dropboxusercontent.com/s/i6rv0kyzu0gloop/icon-super-healthy-m-normal.png?dl=0'>
		</div>
		<div id='simplicity' class='control'>
			<img class='circle navimg' src='https://dl.dropboxusercontent.com/s/hrc7f8dvhy915r7/icon-simple-normal.png?dl=0'>
		</div>
		<div id='sustainability' class='control'>
			<img class='circle navimg' src='https://dl.dropboxusercontent.com/s/b84cyiosskow68f/icon-sustainabl-m-normal.png?dl=0/s/b84cyiosskow68f/icon-sustainabl-m-normal.png?dl=0'>
		</div>
	</div>
	
	<div id='health' class='section'>
		<h1> Super Healthy</h1>
	</div>
	
	<div id='simple' class='section'>
		<p> message about being simple will go here</p>
	</div>
	
	<div id="sustainable" class='section'>
		<p> message about our sustainability will go here </p>
	</div>
	
	<div id="call_to_action" class='section'>
		<p> calls to action will go here</p>
	</div>
</div>
