<%= render 'layouts/header' %>
<div class='container'>
	<div id="image" class='section'>
		<div>
			<!--<p id='description1'>The dried <span>superfruit</span> that transforms into a<br> tasty <span>beverage</span></p>-->
			<%= link_to '<button type="button" class="btn btn-default btn-lg order1">Order Me!</button>'.html_safe, 'https://squareup.com/market/sant/gram-pouch' %>
		</div>
	</div>
	<div id='navigate' class='section'>
		<p class='santis'> Sant is....</p>
		<p class='superfruit sumtext'> a dried superfruit </p>
		<img class='fruit' src="https://dl.dropboxusercontent.com/s/btjalzhwd1evk2m/sant-fruit-illustration.png?dl=0">
		<p class='water sumtext'> that when combined with water </p>
		<img class='instruction' src='https://dl.dropboxusercontent.com/s/4tva1hxmktl8oto/water.png?dl=0'>
		<p class='makes sumtext'>creates a beverage that is </P>
		<div id='healthy' class='control'>
			<img class='circle navimg' src='https://dl.dropboxusercontent.com/s/tto4gljui83tkbd/icon-super-healthy-m-normal.png?dl=0'>
		</div>
		<div id='simplicity' class='control'>
			<img class='circle navimg' src='https://dl.dropboxusercontent.com/s/7x3ren0f1axsbh1/icon-simple-m-normal.png?dl=0'>
		</div>
		<div id='sustainability' class='control'>
			<img class='circle navimg' src='https://dl.dropboxusercontent.com/s/9jartw4ujk1e1w5/icon-sustainable-normal.png?dl=0'>
		</div>
	</div>
	
	<div id='health' class='section'>
		<h1> Super Healthy</h1>
	</div>
	
	<div id='simple' class='section'>
		<p> message about being simple will go here</p>
	</div>
	
	<div id="sustainable" class='section'>
		<p> message about our sustainability will go here </p>
	</div>
	
	<div id="call_to_action" class='section'>
		<p> calls to action will go here</p>
	</div>
</div>
