<%= render 'layouts/header' %>
<div class='container'>
	<div id="image" class='section'>
		<p> Image with buy button will go here</p>
	</div>
	<div id='health' class='section'>
		<p> message on health will go here</p>
	</div>
	<div id='simplicity' class='section'>
		<p> message about being simple will go here</p>
	</div>
	<div id="sustainability" class='section'>
		<p> message about our sustainability will go here </p>
	</div>
	<div id="call_to_action" class='section'>
		<p> calls to action will go here</p>
	</div>
</div>
