.container{
	height:100vh;
	width:100vw;
	padding:0px;
}

.section{
	width: 100%;
	height: 100%%;
	position: absolute;
	z-index:1;
	text-align:center;
}
//top picture section//
#image{
	background-image: url("https://dl.dropboxusercontent.com/s/0x0im0y77xoycc5/SantEricaPlace-221.png?dl=0");
	height: 112%;
	background-size: cover;
	top:-12%

}

#image div{
	height:40%;
	width:40%;
	top: 80%;
	text-align:center;
	position: relative;
	left: 47%;
}

#description1{
	color: #fff;
	font-size:1.8em;
	font-weight: lighter;
	position:relative;
	z-index:100;
	top:-70%;


}

#description1 span{
	font-weight: bolder;
}

#image div a{
	position: relative;
	top:-60%;
	margin: 0 auto;
	display: block;
	
}

//Sant is.. Section//
#navigate{
	height: 100%;
	z-index:2;
	top:100%;
	border-bottom: 2px solid black;
	display: inline-block
}

.navigate *{
	position: fixed;
	background: red

}

.santis{
	color: black;
	position: relative;
	font-size: 3.5em;
	margin-left: -70%

}

.fruit{
	height: 23%;
	margin: 1.5%;
	margin-left:-50%;
	
}

.superfruit{
	margin-left:-50%;
}

.control{
	position: relative;
	height: 60%;
	width:30%;
}

.control img{
	height:20%;
	width:45%;
}

.sumtext{
	font-size: 1.5em
}


.instruction{
	width:27%;
	height:15%;
	margin: 1.5%;
	margin-left:-5%;
}

.win{
	margin-left:-5%;
}

.makes{
	margin: 1.5%;

}

#healthy{
	left:3%
}
#simplicity{
	left: 35%;
	top: -60%
}

#simplicity img{
	width: 20%
}
#sustainability{
	left:67%;
	top: -120%

}

.win{
	left: 100%
}

#health{
	background: red;
	top:200%
}

#simple{
	background: blue;
	top:300%
}

#sustainable{
	background:green;
	top:400%
}

#call_to_action{
	background: purple;
	top:500%
}
