<!DOCTYPE html>
<html>
<head>
  <title>SantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="assets/_header.css.scss">
<link rel="stylesheet" type="text/css" href="assets/home.css.scss">
</head>
<body>
     
<%= yield %>

</body>
</html>
